html{
    margin: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategrey;
}

body{
    margin: 0;
    padding: 0;
}

footer{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.center{
    text-align: center;
}

.info-block-1 {
    background-color: lightgrey;
    padding: 1rem;
    border: 1px solid grey;
}

.grid-container{
    display: inline-grid;
    column-gap: 50px;
    grid-template-columns: 40% 40%;
}

.grid-item{
    
}