html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(36, 36, 49);
}

body{
    margin: 0;
    padding: 0;
}

footer{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 20px;
}

.secondary-background{
    background-color: azure;
}

.center{
    text-align: center;
}

.font-1{
    color:azure;
}

.font-2{
    color:black;
}

.py-5{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.my-5{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mx-5 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.info-block-1 {
    display: inline-grid;
    column-gap: 30px;
    grid-template-columns: 20% 75%;
    background-color: rgb(172, 172, 172);
    padding: 1rem;
    margin: 2rem;
    border: 1px solid black;
    width: 75%;
}

.info-block-1-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px black solid;
}

.info-box-boat{
    font-size: 20px;
    padding: 1rem;
    margin-left: 12rem;
    margin-right: 12rem;
    border: 1px solid black;
}

